@import "/src/styles/config";

.wrapper {
  margin-top: -70px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/hero.jpg");
  margin: 0px auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .logo {
    height: 20vh;
    padding: 300px 0px;
    text-align: center;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.7));
  }
}
