@import "/src/styles/config";

.container {
  .records {
    padding: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
  }
}
